// 분석을 해보면 눈에 더 잘보인다.
$black: #000;
// heading에 쓰이는것
$dark: #191a20;
// 주로 자주 쓰이는 것
$primary: #3f4150;
$secondary: #8c8d96;
$tertiary: #b2b3b9;
$border: #e0e2e7;
// 흰색 다음으로 밝은건 백그라운드 국룰
$background: #f7f8fa;

$white: #ffffff;
$blue: #3da5f5;
$blue-dark: #3186c4;
$blue-light: #ecf6fe;
$red: #f86d7d;
$green: #22c58b;
